**__pycache__**
**build**
**egg-info**
**dist**
data/kitti/gt_database
*.pyc
venv/
*.idea/
*.so
!pcdet/models/model_utils/fuzzy_code/libfuzzy.so
*.yaml
*.sh
*.pth
*.pkl
*.zip
*.bin
#output 较小可以保留
version.py